@import "common", "aboutus";

.title{
    width: 100%;
    margin-top: 5vh;
    height: 15vh;
    // text-align: center;
    font-family: $cursive1;
    font-weight: bold;
    font-size: 2.5em;
    // background: rgb(85, 85, 117);
    position: relative;
}
.title::before{
    content: "";
    position: absolute;
    width: 17%;
    height: 0.3vh;
    background: $p1;
    top: 65%;
}

.leftdiv .caption{
    width: 100%;
    height: 25vh;
    // text-align: center;
    font-size: 1em;
    // background: yellow;
    margin-top: 4vh;
}

.leftdiv{
    width: 60%;
    height: 290vh;
    // height: auto;
    // background: purple;
    float: left;
    margin-left: 7%;
    margin-right: 3%;
}

.abouttext{
    width: 100%;
    height: 45vh;
    // background: blue;
    margin-top: 20vh;
}


.aboutuscard{
    height: 45vh;
    // background: yellow;
    border: 0.01em solid rgb(146, 145, 145);
    width: 32%;
    margin-right: 0;
}

.aboutuscard:first-child{
    margin-left: 0;
}

.icon{
    margin-top: 0;
    height: 15vh;
    // background: purple;
}

.icon .border{
    width: 70px;
    height: 70px;
    margin-left: 37%;
    font-size: 2.5em;
}

.cardtitle{
    margin-top: 1vh;
    height: 8vh;
    font-size: 1.7em;
    position: relative;
    // background: green;
}

.cardtitle::before{
    content: "";
    position: absolute;
    width: 30%;
    top: 95%;
    left: 35%;
    height: 0.3vh;
    background:rgb(146, 145, 145);
}

.cardcontent{
    margin-top: 1vh;
    font-size: 0.9em;
    // background: orange;
}

.cards{
    width: 100%;
    height: 45vh;
    // background: brown;
    margin-top: 5vh;
}

.history{
    width: 100%;
    height: 80vh;
    margin-top: 5vh;
    // background: blue;

    .hbox{
        height: 25vh;
        margin-top: 0.5vh;
        // background: brown;
        width: 43%;
        padding: 1em 1em;
        float: left;
        margin-left: 1%;
        border: 0.01em solid rgb(146, 145, 145);
    }
}

.accordion{
    width: 100%;
    min-height: 80vh;
    margin-top: 5vh;
    // background: orange;
}

$gray: rgb(146, 145, 145);
$lgray: rgb(243, 243, 243);

.accordion .tab{
    margin-bottom: 2vh;
    border-radius: 0.2em;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);   
}

.accordion .title{
    margin-bottom: 5vh;
}

.tab input:checked ~ .content{
    max-height: 100vh;
}

.tab input:checked ~ label{ 
    background: $lgray;
    margin-bottom: 0.5vh;
    span{
        color: black;
    }
    .icon{
        background: #FFC30C;
        border: none;
        i:before{
            content: '\f068';
            color: white;
        }
    }
}

.accordion input{
    display: none;
}

.accordion .tab label{
    background: white;
    height: 9vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0.3em;
    position: relative;
    border: 0.01em solid $gray;
}

.accordion label {
    span{
    color: $gray;
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
    }
    span:hover{
        color: black;
    }
}

.accordion label .icon{
    height: 9vh;
    width: 9vh;
    color: $gray;
    background: white;
    position: relative;
    margin-right: 1.5em;
    border: 0.01em solid $gray;
}

.accordion label .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accordion .tab .content{
    max-height: 0px;
    overflow: hidden;
    background: $lgray;
    border-radius: 0.3em;
}

.accordion .tab .content p{
    padding: 1em 1em;
    line-height: 130%;
    font-size: 1.15em;
}

.rightdiv{
    width: 23%;
    margin-right: 7%;
    height: 200vh;
    // background: pink;
    float: right;

    .title{
        clear: both;
        font-size: 2em;
        height: 12vh;
    }

    .insta{
        width: 100%;
        float: none;
        // background: red;
        height: 35vh;

        .instapost{
            margin-top: 1.5vh;
        }
    }
    .twitter{
        li{
            margin-left: 10%;
            position: relative;
            margin-top: 2vh;
            padding: 0.5em 0.5em;
            list-style-type: none;
        }
        span{
            font-weight: bold;
        }
        span:hover{
            color: $p1;
        }
        li:before{
            content: '\f081'; 
            font-family: "FontAwesome";
            position: absolute;
            font-size: 2em;
            margin-left: -40px; 
            margin-right: 10px;
            top: 5px; 
            color: $p2;
        } 
        li:hover:before{
            color: $p1;
        }
    }
}

.topics{
    height: 27vh;
    width: 100%;
    margin-top: 19vh;
    background: #414141;

    li{
        padding: 0.9em 1em;
        margin-left: 15%;
        margin-right: 15%;
        cursor: pointer;
        border-bottom: 0.02em solid rgb(158, 158, 158);
        color: white;
        font-weight: bold;
    }
    li:last-child{
        border-bottom: none;
    }
    li:hover{
        color: #F3A835;
    }
}

@media only screen and (max-width: 1085px){
    .leftdiv{
        margin-left: 5%;
        width: 62%;
    }
    .rightdiv{
        margin-right: 5%;
        width: 25%;
    }
}

@media only screen and (max-width: 990px){
    .leftdiv{
        width: 95%;
        margin-left: 2.5%;
    }
    .rightdiv{
        width: 95%;
        margin-right: 2.5%;
        height: 160vh;
        .title{
            height: 15vh;
            font-size: 2.5em;
        }
        .insta{
            height: 55vh;
            margin-left: 0;
            .instapost{
                height: 25vh;
                // background: pink;
                margin-left: 5%;
                
                img{
                    height: 25vh;
                }
            }
            
        }
    }
    .topics{
        margin-top: 3vh;
    }
}

@media only screen and (max-width: 880px){
    .caption{
        margin: 0;
    }
}

@media only screen and (max-width: 660px){
    .history{
        height: 140vh;
        .hbox{
            height: 25vh;
            margin-top: 0.5vh;
            width: 90%;
            margin-left: 1%;
            // margin-right: 5%;
        }
    }
    
    .leftdiv{
        height: 490vh;
    }
    .abouttext{
        height: 75vh;

        .caption{
            height: 55vh;
        }
    }
    .cards{
        height: 150vh;
    }
    .aboutuscard{
        width: 100%;
        margin-left: 0;
        margin-top: 2vh;
        height: 45vh;
    }
    .icon{
        height: 20vh;
        .border{
            margin-left: 42%;
        }
    }
}

@media only screen and (max-width: 430px){
    .leftdiv{
        height: 505vh;
    }
    .rightdiv{
        height: 170vh;
    }
}