* {
  padding: 0;
  margin: 0;
  font-family: "Gentium Basic", serif;
}

body {
  background: #ffffff;
  font-size: 1.1em;
}

nav {
  width: 100%;
  height: 9vh;
  background: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  position: fixed;
  -webkit-box-shadow: 0px 15px 31px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 31px -5px rgba(0, 0, 0, 0.5);
}

nav .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
  position: relative;
}

nav .mainMenu li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 80%;
  width: 0%;
  height: 0.1em;
  background-color: black;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav .mainMenu li a:hover:before {
  width: 100%;
  background: #FFC30C;
}

nav .openMenu {
  font-size: 2rem;
  margin: 10px;
  display: none;
  cursor: pointer;
}

nav .logo {
  margin: 8px;
  font-size: 25px;
  margin-left: 2%;
  cursor: pointer;
}

nav .mainMenu .closeMenu {
  display: none;
}

@media (max-width: 979px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    font-size: 1.6rem;
  }
}

.footer {
  width: 100%;
  height: 80vh;
  background-image: url("../Images/bg-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  color: white;
  clear: both;
}

.aboutusfooter {
  width: 23%;
  height: 70vh;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

.ftitle {
  width: 100%;
  height: 10vh;
  margin-top: 10vh;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
}

.comicon {
  background: white;
}

.aboutusfooter .caption {
  width: 100%;
  height: 15vh;
  margin-top: 2vh;
  margin-left: 0;
  font-size: 1.3em;
}

.aboutusfooter .info {
  width: 100%;
  height: 25vh;
  margin-top: 3vh;
}

.aboutusfooter .info i {
  margin-left: 1%;
  margin-right: 5%;
  color: #FFC30C;
}

.recentposts {
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  height: 70vh;
  float: left;
}

.post {
  width: 100%;
  height: 19.5vh;
  margin-top: 2vh;
}

.post .container {
  width: 100%;
  height: 10vh;
  margin-top: 2vh;
}

.post .container .img {
  width: 25%;
  height: 10vh;
  float: left;
  cursor: pointer;
}

.post .container .img img {
  width: 100%;
  height: 10vh;
}

.post .container .text {
  width: 70%;
  height: 10vh;
  margin-left: 5%;
  float: right;
}

.FooterImgTitle {
  text-transform: uppercase;
  cursor: pointer;
}

.recentposts hr {
  margin-top: 2vh;
  border: 0.02em solid black;
}

.tags {
  width: 23%;
  height: 70vh;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

.tagbox {
  width: 45%;
  float: left;
  height: 8vh;
  background: black;
  margin-top: 2vh;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  line-height: 250%;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.tagbox:hover {
  background: #FFC30C;
}

.insta {
  width: 23%;
  height: 70vh;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

.instapost {
  width: 27.5%;
  height: 15vh;
  float: left;
  margin-top: 5vh;
  margin-left: 2vh;
  cursor: pointer;
}

.instapost img {
  width: 100%;
  height: 15vh;
}

.ffooter {
  width: 80%;
  margin-left: 10%;
  height: 10vh;
  background: #212121;
  clear: both;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 0.02em solid rgba(92, 92, 92, 0.5);
}

.ffooter a {
  color: white;
  text-decoration: none;
}

.ffooter a:hover {
  color: #FFC30C;
}

@media only screen and (max-width: 980px) {
  .aboutusfooter, .recentposts, .tags, .insta {
    width: 47.5%;
  }
  .callus button {
    width: 35%;
  }
  .footer {
    height: 150vh;
  }
  .calluscaption {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 565px) {
  .aboutusfooter, .recentposts, .tags, .insta {
    width: 90%;
    margin-left: 5%;
  }
  .callus button {
    height: 7vh;
  }
  .footer {
    height: 290vh;
  }
}

.leftdiv {
  width: 45%;
  margin-left: 7%;
  margin-right: 3%;
  float: left;
  height: 127vh;
}

.leftdiv .caption {
  width: 100%;
  margin-top: 3vh;
  height: 10vh;
}

.leftdiv .message {
  width: 100%;
  margin-top: 5vh;
  height: 75vh;
  overflow: hidden;
}

.leftdiv .message input {
  padding: 1em 1em;
  width: 48.5%;
  margin-top: 1.5vh;
  font-size: 1em;
  outline: none;
  border: 0.02em solid gray;
}

.leftdiv .message input:focus {
  border: 0.02em solid #FFC30C;
}

.leftdiv .message .inputdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leftdiv .message .inputdiv input:last-child {
  margin-left: 1.5%;
}

.leftdiv .message textarea {
  resize: none;
  margin-top: 1.5vh;
  width: 100%;
  font-size: 1em;
  padding: 1em 1em;
  outline: none;
  border: 0.02em solid gray;
}

.leftdiv .message textarea:focus {
  border: 0.02em solid #FFC30C;
}

.leftdiv .message input[type="submit"] {
  background: #FFC30C;
  color: white;
  border: none;
  font-weight: bold;
  width: 30%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.leftdiv .message input[type="submit"]:hover {
  background: #212121;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.title {
  width: 100%;
  margin-top: 15vh;
  height: 15vh;
  font-family: "Parisienne", cursive;
  font-weight: bold;
  font-size: 2.5em;
  background: white;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  width: 17%;
  height: 0.3vh;
  background: #FFC30C;
  top: 65%;
}

.rightdiv {
  width: 38%;
  margin-right: 7%;
  float: right;
  height: 120vh;
}

.tabcontainer {
  height: 40vh;
  width: 100%;
  margin-top: 3vh;
}

.tabcontainer .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabcontainer .tabs input[type="radio"] {
  display: none;
}

.tabcontainer .tabs label {
  background: white;
  font-weight: bold;
  padding: 0.5em 1.3em;
  margin-left: 1%;
  margin-bottom: 0.5vh;
  border: 0.01em solid gray;
  font-size: 1.2em;
  color: gray;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-shadow: -1px 9px 18px -6px rgba(131, 124, 124, 0.76);
          box-shadow: -1px 9px 18px -6px rgba(131, 124, 124, 0.76);
}

.tabcontainer .tabs label[for="tab1"] {
  margin-left: 0;
}

.tabcontainer .tabs label:hover {
  color: black;
}

.tabcontainer .tabs .tab {
  width: 100%;
  background: #FAFAFB;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: none;
  line-height: 200%;
  border: 0.01em solid gray;
  -webkit-box-shadow: -1px 9px 18px -6px rgba(131, 124, 124, 0.76);
          box-shadow: -1px 9px 18px -6px rgba(131, 124, 124, 0.76);
}

.tabcontainer .tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.tabcontainer .tabs input[type="radio"]:checked + label {
  background: #FAFAFB;
  color: black;
}

.map {
  height: 40vh;
  width: 100%;
  background-image: url("../Images/map.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1212px) {
  .leftdiv {
    margin-left: 2%;
    width: 50%;
  }
  .rightdiv {
    margin-right: 2%;
    width: 43%;
  }
}

@media (max-width: 1070px) {
  .leftdiv {
    margin-right: 1%;
    width: 52%;
  }
  .tabcontainer .tabs label {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 915px) {
  .title {
    margin-top: 10vh;
  }
  .leftdiv .message {
    height: 65vh;
  }
  .leftdiv {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 110vh;
  }
  .rightdiv {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 120vh;
  }
}
/*# sourceMappingURL=contactus.css.map */