
.ourservices{
    width: 100%;
    height: 110vh;
    border: $border;
    background: $p4;
}

.servicespanel{
    width: 90%;
    margin-left: 5%;
    height: 40vh;
    margin-top: 5vh;
}

.photocard{
    width: 30%;
    height: 40vh;
    float: left;
    margin-left: 1.6%;
    margin-right: 1.6%;
    overflow: hidden;
}

.photoimg{
    width: 100%;
    height: 30vh;
    img{
        width: 100%;
        height: 30vh;
    }
}

.photocard:hover{
    .photoimg img{
        transition: all 0.3s ease-in-out;
        filter: grayscale(100%);
    }
    .photoarrow{
        background: $p1;
        color: white;
    }
}

.photocap{
    width: 80%;
    height: 10vh;
    background: $p3 ;
    float: left;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 1em;
}

.photoarrow{
    width: 20%;
    height: 10vh;
    background: $p5;
    color: gray;
    float: left;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesbutton{
    width: 100%;
    height: 10vh;
    margin-top: 6vh;
    display: flex;
    justify-content: center;

    button{
        width: 15%;
        height: 10vh;
        text-transform: uppercase;
        border: none;
        border-radius: 0.5em;
        background: $p1;
        color: $p4;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;  
        z-index: 1;
        overflow: hidden;
    }
    $bh: 10vh;
    button::before{
        content: "";
        height: $bh;
        width: 100%;
        background: black;
        position: absolute;
        transform: translateY(-100%); 
        transition: all 0.2s linear;
        z-index: -1;
    }

    button::after{
        content: "";
        height: $bh;
        width: 100%;
        background: black;
        position: absolute;
        transform: translateY(100%);
        transition: all 0.2s linear;
        z-index: -1;
    }
        
    button:hover:before{
        transform: translateY(-50%);
    }

    button:hover:after{
        transform: translateY(40%);
    }
}

@media only screen and (max-width: 750px){
    .ourservices{
        height: 110vh;
    }
    .servicespanel{
        width: 100%;
        margin-left: 0;
    }
    .servicesbutton button{
        width: 20%;
    }
}

@media only screen and (max-width: 600px){
    .ourservices{
        height: 210vh;
    }
    .servicespanel{
        height: 130vh;
    }
    .photocard{
        width: 60%;
        margin-left: 20%;
        margin-top: 2vh;
    }
    .servicesbutton button{
        width: 30%;
    }
}

@media only screen and (max-width: 400px){
    .photocard{
        width: 80%;
        margin-left: 10%;
    }
    .servicesbutton button{
        width: 35%;
    }
}