@import "common";

$mtop: 5vh;

.title{
    width: 85%;
    height: 20vh;
    font-family: $cursive1;
    font-weight: bold;
    font-size: 2.3em;
    background: rgb(85, 85, 117);
    position: relative;
    padding: 0 0.5em;
}
.title:before{
    content: "Special Services";
    font-size: 0.5em;
    display: block;
    font-family: $simple;
}
.title::after{
    content: "";
    position: absolute;
    width: 17%;
    height: 0.3vh;
    background: $p1;
    top: 80%;
    left: 10%;
}

.captext{
    padding: 1em 1em;
}

.rightdiv{
    height: 120vh; 
    width: 23%;
    margin-left: 7%;
    background: yellow;
    float: left;
}


.topics{
    height: 50vh;
    width: 100%;
    margin-top: 19vh;
    background: #414141;

    li{
        padding: 0.9em 1em;
        margin-left: 15%;
        margin-right: 15%;
        cursor: pointer;
        border-bottom: 0.02em solid rgb(158, 158, 158);
        color: white;
        font-weight: bold;
    }
    li:last-child{
        border-bottom: none;
    }
    li:hover{
        color: #F3A835;
    }
}

.getintouch{
    height: 40vh;
    width: 100%;
    margin-top: $mtop;
    background: red;
}

.leftdiv{
    height: 250vh; 
    width: 60%;
    margin-right: 7%;
    margin-left: 3%;
    background: orange;
    float: right;

    .Text{
        height: 30vh;
        width: 100%;
        background: red;
        margin-top: $mtop;
    }
}

$p1h: 50vh;
.panel1{
    height: $p1h;
    width: 100%;
    background: pink;
    margin-top: 19vh;

    .text{
        height: $p1h;
        width: 50%;
        background: brown;
        float: left;
    }

    .img{
        height: $p1h;
        width: 50%;
        background-image: url("../Images/image-box-5-370x215.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        float: right;
    }
}

$p2h: 40vh;
.panel2{
    height: $p2h;
    width: 100%;
    background: black;
    margin-top: $mtop;

    .text{
        height: $p2h;
        width: 50%;
        background: pink;
        float: left;
    }

    .info{
        height: $p2h;
        width: 50%;
        background: brown;
        float: right;
    }
}

@media only screen and (max-width: 990px){
    .leftdiv{
        width: 86%;
        margin-left: 7%;
        height: 150vh;
    }
    .rightdiv{
        width: 86%;
        margin-left: 7%;
    }
}

@media only screen and (max-width: 765px){
    .leftdiv{
        height: 202vh;
    }
    .panel1{
        height: 102vh;
        .text{
            width: 100%;
        }
        .img{
            width: 100%;
            margin-top: 2vh;
        }
    }
}

@media only screen and (max-width: 500px){
    .leftdiv{
        height: 242vh;
    }
    .panel2{
        height: 80vh;
        .text{
            width: 100%;
        }
        .info{
            width: 100%;
        }
    }
}