@import "common";

$mtop: 5vh;

h2{
    text-transform: uppercase;
}

button{
    position: relative;  
    z-index: 1;
    overflow: hidden;
    transition: all 0.2s linear;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}
button::before{
    content: "";
    height: 10vh;
    width: 100%;
    background: $p2;
    position: absolute;
    transform: translateY(-100%); 
    transition: all 0.2s linear;
    z-index: -1;
}
button::after{
    content: "";
    height: 10vh;
    width: 100%;
    background: $p2;
    position: absolute;
    transform: translateY(100%);
    transition: all 0.2s linear;
    z-index: -1;
}
button:hover:before{
    transform: translateY(-50%);
}

button:hover:after{
    transform: translateY(40%);
}
button:hover{
    color: white;
}
.title{
    width: 85%;
    height: 20vh;
    font-family: $cursive1;
    font-weight: bold;
    font-size: 2.3em;
    position: relative;
    padding: 0 0.5em;
}
.title:before{
    content: "Special Services";
    font-size: 0.5em;
    display: block;
    font-family: $simple;
}
.title::after{
    content: "";
    position: absolute;
    width: 17%;
    height: 0.3vh;
    background: $p1;
    top: 80%;
    left: 10%;
}

.captext{
    padding: 1em 1em;
}

.rightdiv{
    height: 120vh; 
    width: 23%;
    margin-left: 7%;
    float: left;
}


.topics{
    height: 50vh;
    width: 100%;
    margin-top: 19vh;
    background: #414141;

    li{
        padding: 0.9em 1em;
        margin-left: 15%;
        margin-right: 15%;
        cursor: pointer;
        border-bottom: 0.02em solid rgb(158, 158, 158);
        color: white;
        font-weight: bold;
    }
    li:last-child{
        border-bottom: none;
    }
    li:hover{
        color: #F3A835;
    }
}

.getintouch{
    height: 40vh;
    width: 100%;
    margin-top: $mtop;
    text-align: center;
    box-shadow: -1px 9px 18px -6px rgba(131,124,124,0.76);
    button{
        text-transform: uppercase;
        margin-top: 5vh;
        height: 10vh;
        width: 70%;
        font-size: 1.1em;
        border: none;
        background: $p1;
        color: white;
        font-weight: bold;
    }
}

.leftdiv{
    height: 260vh; 
    width: 60%;
    margin-right: 7%;
    margin-left: 3%;
    float: right;
    // background: green;

    .Text{
        height: 30vh;
        width: 100%;
        margin-top: $mtop;
    }
}

$p1h: 50vh;
.panel1{
    height: $p1h;
    width: 100%;
    margin-top: 19vh;

    .text{
        height: $p1h;
        width: 50%;
        float: left;
        background: #F7F7F7;
    }

    .img{
        height: $p1h;
        width: 50%;
        background-image: url("../Images/image-box-5-370x215.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        float: right;
    }
}

$p2h: 50vh;
.panel2{
    height: $p2h;
    width: 100%;
    margin-top: $mtop;

    .text{
        height: $p2h;
        width: 50%;
        float: left;
        ul{
            margin-left : 7%;
            li{
                color: $p1;
                span{
                    color: black;
                }
            }
        }
    }

    .info{
        h2{
            font-size: 1.3em;
            // margin-left: 5%;
        }
        height: $p2h;
        width: 50%;
        float: right;
        background: $p1;
        color: white;
        text-align: center;
        button{
            margin-top: 3vh;
            width: 70%;
            font-size: 1.2em;
            height: 10vh;
            border: none;
        }
    }
}


.accordion{
    width: 100%;
    min-height: 80vh;
    margin-top: 5vh;
    // background: orange;
}

$gray: rgb(146, 145, 145);
$lgray: rgb(243, 243, 243);

.accordion .tab{
    margin-bottom: 2vh;
    border-radius: 0.2em;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);   
}

.accordion .title{
    margin-bottom: 5vh;
}

.tab input:checked ~ .content{
    max-height: 100vh;
}

.tab input:checked ~ label{ 
    background: $lgray;
    margin-bottom: 0.5vh;
    span{
        color: black;
    }
    .icon{
        background: #FFC30C;
        border: none;
        i:before{
            content: '\f068';
            color: white;
        }
    }
}

.accordion input{
    display: none;
}

.accordion .tab label{
    background: white;
    height: 9vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0.3em;
    position: relative;
    // border: 0.01em solid $gray;
}

.accordion label {
    span{
    color: $gray;
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
    }
    span:hover{
        color: black;
    }
}

.accordion label .icon{
    height: 9vh;
    width: 9vh;
    color: $gray;
    background: white;
    position: relative;
    margin-right: 1.5em;
    // border: 0.01em solid $gray;
}

.accordion label .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accordion .tab .content{
    max-height: 0px;
    overflow: hidden;
    background: $lgray;
    border-radius: 0.3em;
}

.accordion .tab .content p{
    padding: 1em 1em;
    line-height: 130%;
    font-size: 1.15em;
}

// .tabcontainer{
//     height: 50vh;
//     width: 100%;
//     margin-top: 3vh;
//     // background: purple;

//     .tabs{ 
//         display: flex;
//         flex-wrap: wrap;

//         input[type="radio"]{
//             display: none;
//         }
//         label{
//             background: #F1F1F1;
//             font-weight: bold;
//             padding: 0.5em 1.3em;
//             margin-left: 1%;
//             margin-bottom: 0.5vh;
//             border: 0.01em solid gray;
//             font-size: 1.2em;
//             color: gray;
//             transition: all 0.1s linear;
//             text-transform: uppercase;
//             cursor: pointer;
//             box-shadow: -1px 9px 18px -6px rgba(131,124,124,0.76);
//             // order: 0; //By Default
//         }
//         label[for="tab1"]{
//             margin-left: 0;
//         }
//         .tab{
//             width: 100%;
//             background: white;
//             order: 1;
//             display: none;
//             line-height: 200%;
//             // border: 0.01em solid gray;
//             box-shadow: -1px 9px 18px -6px rgba(131,124,124,0.76);
//             padding: 1em 1em;
//         }
//           // + can only be used for the next element.
//         input[type="radio"]:checked + label + .tab{
//             display: block;
//         }
//         input[type="radio"]:checked + label{
//             background: $p1;
//             color: black;
//         }
//     }
// }


@media only screen and (max-width: 1200px){
    .rightdiv{
        height: 170vh;
    }
    .topics{
        height: 80vh;
    }
    .getintouch{
        height: 50vh;
    }
    .leftdiv{
        height: 240vh;
    }
}

@media only screen and (max-width: 990px){
    .leftdiv{
        width: 86%;
        margin-left: 7%;
        height: 220vh;
    }
    .topics{
        margin-top: 5vh;
        height: 60vh;
    }
    .rightdiv{
        width: 86%;
        margin-left: 7%;
        height: 150vh;
    }
}

@media only screen and (max-width: 765px){
    .leftdiv{
        height: 320vh;
    }
    .panel1{
        height: 102vh;
        .text{
            width: 100%;
        }
        .img{
            width: 100%;
            margin-top: 2vh;
        }
    }
    .accordion{
        height: 90vh;
    }
    // .tabcontainer{
    //     height: 80vh;
    //     .tabs{
    //         label{
    //             width: 100%;
    //             margin-left: 0;
    //             text-align: center;
    //         }
    //     }
    // }
}

@media only screen and (max-width: 500px){
    .leftdiv{
        height: 390vh;
        .Text{
            height: 50vh;
        }
    }
    .accordion{
        height: 100vh;
    }
    .panel2{
        height: 80vh;
        .text{
            width: 100%;
        }
        .info{
            width: 100%;
            margin-left: 7%;
        }
    }
}

@media only screen and (max-width: 400px){
    .leftdiv{
        height: 400vh;
    }
}