.mainContainer{
    width: 100%;    
    overflow: hidden;
}

@import "common", "imageslider", "aboutus", "welcome", "ourservices", "projects", "allservices", "testimonials", "callus";


.iconhri{
    color: $p1;
    font-size: 1em;
    z-index: 1;
    position: relative;
    font-size: 0.8em;
}

.iconhri::after{
    content: "";
    width: 400%;
    height: 0.02em;
    position: absolute;
    background: black;
    z-index: -1;
    transform: translateX(-60%);
    top: 65%;
}

.title{
    width: 100%;
    margin-top: 5vh;
    height: 15vh;
    text-align: center;
    font-family: $cursive1;
    font-weight: bold;
    font-size: 2.5em;
}

.caption{
    width: 50%;
    margin-left: 25%;
    height: 20vh;
    text-align: center;
    font-size: 1.5em;
}