.mainContainer {
  width: 100%;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Gentium Basic", serif;
}

body {
  background: #ffffff;
  font-size: 1.1em;
}

nav {
  width: 100%;
  height: 9vh;
  background: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  position: fixed;
  -webkit-box-shadow: 0px 15px 31px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 31px -5px rgba(0, 0, 0, 0.5);
}

nav .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
  position: relative;
}

nav .mainMenu li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 80%;
  width: 0%;
  height: 0.1em;
  background-color: black;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav .mainMenu li a:hover:before {
  width: 100%;
  background: #FFC30C;
}

nav .openMenu {
  font-size: 2rem;
  margin: 10px;
  display: none;
  cursor: pointer;
}

nav .logo {
  margin: 8px;
  font-size: 25px;
  margin-left: 2%;
  cursor: pointer;
}

nav .mainMenu .closeMenu {
  display: none;
}

@media (max-width: 979px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    font-size: 1.6rem;
  }
}

.footer {
  width: 100%;
  height: 80vh;
  background-image: url("../Images/bg-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  color: white;
  clear: both;
}

.aboutusfooter {
  width: 23%;
  height: 70vh;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

.ftitle {
  width: 100%;
  height: 10vh;
  margin-top: 10vh;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
}

.comicon {
  background: white;
}

.aboutusfooter .caption {
  width: 100%;
  height: 15vh;
  margin-top: 2vh;
  margin-left: 0;
  font-size: 1.3em;
}

.aboutusfooter .info {
  width: 100%;
  height: 25vh;
  margin-top: 3vh;
}

.aboutusfooter .info i {
  margin-left: 1%;
  margin-right: 5%;
  color: #FFC30C;
}

.recentposts {
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  height: 70vh;
  float: left;
}

.post {
  width: 100%;
  height: 19.5vh;
  margin-top: 2vh;
}

.post .container {
  width: 100%;
  height: 10vh;
  margin-top: 2vh;
}

.post .container .img {
  width: 25%;
  height: 10vh;
  float: left;
  cursor: pointer;
}

.post .container .img img {
  width: 100%;
  height: 10vh;
}

.post .container .text {
  width: 70%;
  height: 10vh;
  margin-left: 5%;
  float: right;
}

.FooterImgTitle {
  text-transform: uppercase;
  cursor: pointer;
}

.recentposts hr {
  margin-top: 2vh;
  border: 0.02em solid black;
}

.tags {
  width: 23%;
  height: 70vh;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

.tagbox {
  width: 45%;
  float: left;
  height: 8vh;
  background: black;
  margin-top: 2vh;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  line-height: 250%;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.tagbox:hover {
  background: #FFC30C;
}

.insta {
  width: 23%;
  height: 70vh;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

.instapost {
  width: 27.5%;
  height: 15vh;
  float: left;
  margin-top: 5vh;
  margin-left: 2vh;
  cursor: pointer;
}

.instapost img {
  width: 100%;
  height: 15vh;
}

.ffooter {
  width: 80%;
  margin-left: 10%;
  height: 10vh;
  background: #212121;
  clear: both;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 0.02em solid rgba(92, 92, 92, 0.5);
}

.ffooter a {
  color: white;
  text-decoration: none;
}

.ffooter a:hover {
  color: #FFC30C;
}

@media only screen and (max-width: 980px) {
  .aboutusfooter, .recentposts, .tags, .insta {
    width: 47.5%;
  }
  .callus button {
    width: 35%;
  }
  .footer {
    height: 150vh;
  }
  .calluscaption {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 565px) {
  .aboutusfooter, .recentposts, .tags, .insta {
    width: 90%;
    margin-left: 5%;
  }
  .callus button {
    height: 7vh;
  }
  .footer {
    height: 290vh;
  }
}

.imageslider {
  width: 100%;
  margin-top: 0;
  height: 97vh;
  border: none;
}

.maintext {
  width: 80%;
  margin-left: 10%;
  height: 50vh;
  margin-top: 30vh;
  font-size: 7em;
  text-align: center;
  color: white;
}

.frame {
  height: 97vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  -webkit-animation: image 15s infinite alternate;
          animation: image 15s infinite alternate;
}

@-webkit-keyframes image {
  0% {
    background-image: url("../Images/project-1-370x245.jpg");
  }
  25% {
    background-image: url("../Images/project-2-370x245.jpg");
  }
  50% {
    background-image: url("../Images/project-3-370x245.jpg");
  }
  75% {
    background-image: url("../Images/project-4-370x245.jpg");
  }
  100% {
    background-image: url("../Images/project-5-440x280.jpg");
  }
}

@keyframes image {
  0% {
    background-image: url("../Images/project-1-370x245.jpg");
  }
  25% {
    background-image: url("../Images/project-2-370x245.jpg");
  }
  50% {
    background-image: url("../Images/project-3-370x245.jpg");
  }
  75% {
    background-image: url("../Images/project-4-370x245.jpg");
  }
  100% {
    background-image: url("../Images/project-5-440x280.jpg");
  }
}

.aboutus {
  width: 100%;
  height: 115vh;
  background: #ffffff;
  border: none;
}

.cardpanel {
  width: 100%;
  height: 53vh;
}

.aboutuscard {
  width: 30%;
  height: 53vh;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.icon {
  width: 100%;
  height: 20vh;
  margin-top: 3vh;
  color: #FFC30C;
}

.icon .border {
  width: 90px;
  height: 90px;
  background: #f4f5f4;
  border-radius: 50%;
  color: #FFC30C;
  text-align: center;
  margin-left: 40%;
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.icon .border:hover {
  background: #FFC30C;
  color: #ffffff;
}

.cardtitle {
  width: 100%;
  height: 7vh;
  margin-top: 2vh;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  font-family: "Dancing Script", cursive;
}

.cardcontent {
  width: 100%;
  height: 20vh;
  margin-top: 0vh;
  font-size: 1.2em;
  text-align: center;
}

.aboutusbutton {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutusbutton button {
  width: 12%;
  height: 10vh;
  text-transform: uppercase;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  background: #FFC30C;
  color: #ffffff;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.aboutusbutton button::before {
  content: "";
  height: 10vh;
  width: 100%;
  background: #212121;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: -1;
}

.aboutusbutton button::after {
  content: "";
  height: 10vh;
  width: 100%;
  background: #212121;
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: -1;
}

.aboutusbutton button:hover:before {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.aboutusbutton button:hover:after {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

@media only screen and (max-width: 880px) {
  .caption {
    width: 80%;
    margin-left: 10%;
  }
  .cardcontent {
    height: 15vh;
  }
  .cardpanel {
    height: 70vh;
  }
  .aboutuscard {
    height: 70vh;
  }
  .border {
    width: 35%;
  }
  .aboutus {
    height: 135vh;
  }
  .aboutusbutton button {
    width: 20%;
  }
}

@media only screen and (max-width: 580px) {
  .caption {
    width: 100%;
    margin-left: 0;
    height: 30vh;
  }
  .aboutuscard {
    width: 90%;
    margin-left: 5%;
    margin-top: 2vh;
    height: 60vh;
  }
  .cardpanel {
    height: 220vh;
  }
  .aboutus {
    height: 300vh;
  }
  .aboutusbutton button {
    width: 35%;
  }
}

.welcome {
  width: 100%;
  height: 100vh;
  border: none;
}

.welcomeimage {
  width: 50%;
  height: 100vh;
  background-image: url("../Images/gallery-1-960x560.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

.welcometext {
  width: 50%;
  height: 100vh;
  float: left;
  background: #f4f5f4;
}

.welcometitle {
  width: 98%;
  margin-left: 2%;
  text-align: left;
}

.welcomecaption {
  width: 80%;
  margin-top: 5vh;
  margin-left: 2%;
  height: 23vh;
  font-size: 1.5em;
}

.welcomecontent {
  width: 80%;
  margin-left: 5%;
  height: 35vh;
  font-size: 1.2em;
  line-height: 170%;
}

.welcomecontent ul {
  list-style-type: square;
}

.getintouch {
  width: 90%;
  margin-left: 2%;
  height: 10vh;
  margin-top: 1vh;
}

.getintouch button {
  width: 30%;
  height: 10vh;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5em;
  color: #FFC30C;
  background: #ffffff;
  cursor: pointer;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  overflow: hidden;
}

.getintouch button:hover {
  color: #ffffff;
}

.getintouch button::before {
  content: "";
  height: 10vh;
  width: 100%;
  background: #FFC30C;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: -1;
}

.getintouch button::after {
  content: "";
  height: 10vh;
  width: 100%;
  background: #FFC30C;
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: -1;
}

.getintouch button:hover:before {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.getintouch button:hover:after {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

@media only screen and (max-width: 980px) {
  .welcomecaption {
    width: 100%;
  }
  .welcomecontent {
    width: 95%;
  }
}

@media only screen and (max-width: 785px) {
  .welcomecaption {
    margin-top: 2vh;
    height: 25vh;
  }
  .getintouch button {
    width: 40%;
  }
}

@media only screen and (max-width: 690px) {
  .welcome {
    height: 205vh;
  }
  .welcomeimage {
    width: 100%;
  }
  .welcometext {
    width: 100%;
  }
  .getintouch {
    text-align: center;
  }
  .welcometitle {
    text-align: center;
  }
}

.ourservices {
  width: 100%;
  height: 110vh;
  border: none;
  background: #ffffff;
}

.servicespanel {
  width: 90%;
  margin-left: 5%;
  height: 40vh;
  margin-top: 5vh;
}

.photocard {
  width: 30%;
  height: 40vh;
  float: left;
  margin-left: 1.6%;
  margin-right: 1.6%;
  overflow: hidden;
}

.photoimg {
  width: 100%;
  height: 30vh;
}

.photoimg img {
  width: 100%;
  height: 30vh;
}

.photocard:hover .photoimg img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.photocard:hover .photoarrow {
  background: #FFC30C;
  color: white;
}

.photocap {
  width: 80%;
  height: 10vh;
  background: #f4f5f4;
  float: left;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
}

.photoarrow {
  width: 20%;
  height: 10vh;
  background: #e2e3eb;
  color: gray;
  float: left;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicesbutton {
  width: 100%;
  height: 10vh;
  margin-top: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servicesbutton button {
  width: 15%;
  height: 10vh;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5em;
  background: #FFC30C;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.servicesbutton button::before {
  content: "";
  height: 10vh;
  width: 100%;
  background: black;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: -1;
}

.servicesbutton button::after {
  content: "";
  height: 10vh;
  width: 100%;
  background: black;
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: -1;
}

.servicesbutton button:hover:before {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.servicesbutton button:hover:after {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

@media only screen and (max-width: 750px) {
  .ourservices {
    height: 110vh;
  }
  .servicespanel {
    width: 100%;
    margin-left: 0;
  }
  .servicesbutton button {
    width: 20%;
  }
}

@media only screen and (max-width: 600px) {
  .ourservices {
    height: 210vh;
  }
  .servicespanel {
    height: 130vh;
  }
  .photocard {
    width: 60%;
    margin-left: 20%;
    margin-top: 2vh;
  }
  .servicesbutton button {
    width: 30%;
  }
}

@media only screen and (max-width: 400px) {
  .photocard {
    width: 80%;
    margin-left: 10%;
  }
  .servicesbutton button {
    width: 35%;
  }
}

.projects {
  width: 100%;
  height: 90vh;
  background-image: url("../Images/parallax-2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  color: #ffffff;
}

.projects .title {
  margin-top: 10vh;
}

.projectpanel {
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 35vh;
}

.projectimg {
  width: 22%;
  height: 35vh;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.projectimg img {
  width: 100%;
  height: 35vh;
}

.projectimg:hover img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.projectsbutton {
  width: 100%;
  height: 10vh;
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectsbutton button {
  width: 15%;
  height: 10vh;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5em;
  background: #FFC30C;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.projectsbutton button::before {
  content: "";
  height: 10vh;
  width: 100%;
  background: #212121;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: -1;
}

.projectsbutton button::after {
  content: "";
  height: 10vh;
  width: 100%;
  background: #212121;
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: -1;
}

.projectsbutton button:hover:before {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.projectsbutton button:hover:after {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

@media only screen and (max-width: 855px) {
  .projectimg {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2vh;
  }
  .projectpanel {
    height: 80vh;
  }
  .projects {
    height: 130vh;
  }
  .projectsbutton button {
    width: 25%;
  }
}

@media only screen and (max-width: 455px) {
  .projectimg {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .projectsbutton button {
    width: 35%;
  }
}

@media only screen and (max-width: 388px) {
  .projectimg {
    width: 80%;
    margin-left: 10%;
  }
  .projectpanel {
    height: 150vh;
  }
  .projects {
    height: 200vh;
  }
  .projectsbutton button {
    width: 40%;
  }
}

.allservices {
  width: 100%;
  height: 130vh;
  background: #ffffff;
  border: none;
}

.allservices .caption {
  height: 15vh;
}

.info {
  width: 100%;
  height: 90vh;
  margin-top: 5vh;
}

.infocard {
  width: 30%;
  height: 40vh;
  float: left;
  margin-left: 1.6%;
  margin-right: 1.6%;
  margin-top: 4vh;
}

.infocard .icon {
  width: 20%;
  height: 10vh;
  float: left;
  font-size: 2.5em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infocard .icon:hover {
  color: black;
}

.infocard .infotext {
  width: 80%;
  height: 40vh;
  float: left;
}

.infocard .infotext .title {
  margin-top: 3vh;
  height: 10vh;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.infocard:hover .icon {
  color: black;
}

.infocard .infotext .title:hover {
  color: #FFC30C;
}

.infocard .infotext .text {
  height: 22vh;
  font-size: 1.1em;
}

@media only screen and (max-width: 780px) {
  .infocard {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2vh;
  }
  .info {
    height: 130vh;
  }
  .allservices {
    height: 175vh;
  }
}

@media only screen and (max-width: 465px) {
  .infocard {
    width: 90%;
    margin-left: 5%;
    margin-top: 1vh;
  }
  .info {
    height: 248vh;
  }
  .allservices {
    height: 290vh;
  }
}

.testimonials {
  width: 100%;
  height: 87vh;
  background-image: url("../Images/parallax-2.jpg");
  border: none;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 87vh;
  position: relative;
  overflow: hidden;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: rgba(0, 0, 0, 0.5);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #FFC30C;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.symbol {
  width: 100%;
  height: 20vh;
  margin-top: 7vh;
  text-align: center;
  font-size: 1em;
}

.symbol .border {
  width: 100px;
  height: 100px;
  background: #FFC30C;
  border-radius: 50%;
  color: white;
  text-align: center;
  margin-left: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.symbol .border .fas {
  font-size: 60px;
}

.textpanel {
  width: 60%;
  margin-left: 20%;
  height: 35vh;
  margin-top: 5vh;
  text-align: center;
  line-height: 200%;
  font-size: 1.2em;
  color: white;
}

.authorname {
  width: 100%;
  height: 15vh;
  margin-top: 5vh;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  color: white;
}

@media only screen and (max-width: 750px) {
  .textpanel {
    width: 80%;
    margin-left: 10%;
    line-height: 150%;
  }
}

@media only screen and (max-width: 750px) {
  .textpanel {
    width: 90%;
    margin-left: 5%;
    line-height: 130%;
    height: 45vh;
  }
  .authorname {
    height: 8   vh;
    margin-top: 2vh;
  }
}

.callus {
  width: 100%;
  height: 20vh;
  margin-top: 0;
  background: #FFC30C;
  background-image: url("../Images/bg-quote.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.callustext {
  width: 100%;
  height: 12vh;
  margin-top: 0vh;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callus button {
  height: 10vh;
  width: 20%;
  font-size: 0.8em;
  background: white;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.callus button:hover {
  color: white;
}

.callus button::before {
  content: "";
  height: 10vh;
  width: 100%;
  background: #212121;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: -1;
}

.callus button::after {
  content: "";
  height: 10vh;
  width: 100%;
  background: #212121;
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: -1;
}

.callus button:hover:before {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.callus button:hover:after {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

@media only screen and (max-width: 580px) {
  .callustext {
    font-size: 1em;
  }
}

.iconhri {
  color: #FFC30C;
  font-size: 1em;
  z-index: 1;
  position: relative;
  font-size: 0.8em;
}

.iconhri::after {
  content: "";
  width: 400%;
  height: 0.02em;
  position: absolute;
  background: black;
  z-index: -1;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  top: 65%;
}

.title {
  width: 100%;
  margin-top: 5vh;
  height: 15vh;
  text-align: center;
  font-family: "Parisienne", cursive;
  font-weight: bold;
  font-size: 2.5em;
}

.caption {
  width: 50%;
  margin-left: 25%;
  height: 20vh;
  text-align: center;
  font-size: 1.5em;
}
/*# sourceMappingURL=style.css.map */